---
import clsx from 'clsx';
const { title, className } = Astro.props;

const clsxButton = clsx({
  'ease-in duration-150 text-sm text-neon-green tracking-wider border border-solid border-neon-green rounded': true,
  'transition-effect': true,
  [className]: true,
});
---

<button class={clsxButton} id="data-button">
  {title}
</button>
