@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* width */
  #scroll::-webkit-scrollbar {
    @apply bg-transparent w-2 cursor-pointer;
  }

  #scroll::-webkit-scrollbar-thumb {
    @apply bg-[#e4eaef] border-0 rounded-lg;
  }

  #scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-[#aeb1b4] cursor-pointer;
  }
}

blockquote {
  margin-left: 20px;
}

.transition-effect:hover {
  outline: none;
  box-shadow: 3px 3px 0 0 #64ffda;
  transform: translate(-4px, -4px);
}

.card-effect:not(:nth-child(-n + 3)) {
  border-top: 2px dotted #64ffda;
}

.card-effect:not(:nth-child(3n)) {
  border-right: 2px dotted #64ffda;
}
