---
import { changeLanguage, t } from 'i18next';
import Layout from '../../layouts/Layout.astro';

changeLanguage('en');
---

<Layout>
  <div
    class="flex flex-col justify-center items-center w-full h-[95vh] animate-fade-up"
  >
    <div class="space-y-4 flex flex-col justify-center items-center">
      <p class="text-sm text-neon-green tracking-widest font-thin">
        {t('whatIsNext')}
      </p>
      <h1 class="text-white font-bold text-6xl tracking-wider">
        {t('getInTouch')}
      </h1>
      <p
        class="leading-6 text-white-dark md:w-2/4 text-center font-thin tracking-wider"
      >
        {t('descriptionContact')}
      </p>
    </div>
    <a
      class="transition-effect my-14 px-8 py-4 ease-in duration-150 text-sm text-neon-green tracking-wider border border-solid border-neon-green rounded"
      href={`mailto:mauriciogallegoavi@gmail.com`}
    >
      {t('sayHello')}
    </a>
  </div>
</Layout>
