---
import { t } from 'i18next';

const { header } = Astro.props;
---

<div class="flex items-center space-x-6">
  <p class="text-white font-bold text-3xl">
    {t(header)}
  </p>
  <div class="h-[1px] w-[350px] bg-neon-green opacity-30"></div>
</div>
