---
import i18next, { changeLanguage, t } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");

if (i18next.language === "es") {
    return Astro.redirect("/es/404");
}
---

<Layout>
  <div class="flex flex-col justify-center items-center w-full h-full">
    <div class="space-y-4 flex flex-col justify-center items-center">
      <h1 class="text-white font-bold text-6xl tracking-wider">
        {t('ops')}
      </h1>
      <p class="leading-6 text-white-dark text-center font-thin tracking-wider">
        {t('urlNotFoud')}
      </p>
    </div>
    <img class="my-7" src="https://midu.dev/images/this-is-fine-404.gif" />
  </div>
</Layout>
