---
import { changeLanguage } from 'i18next';
import Layout from '@/layouts/Layout.astro';
import Title from '@/components/Title/Title.astro';
import Tab from '@/components/tab/tab';

changeLanguage('es');
---

<Layout>
  <div class="pt-[100px]">
    <Title header="WhereIWork" />
    <Tab client:visible />
  </div>
</Layout>
