---
import { changeLanguage } from 'i18next';
import Layout from '@/layouts/Layout.astro';
import Title from '@/components/astro/Title/Title.astro';
import Tab from '@/components/react/tab/tab';

changeLanguage('es');
---

<Layout>
  <div class="pt-[100px] animate-fade-up">
    <Title header="WhereIWork" />
    <div class="w-full py-6 flex items-center justify-center">
      <Tab client:visible />
    </div>
  </div>
</Layout>
