---
const title = 'Flappy Bird Game';
---

<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <canvas id="gameCanvas" width="400" height="600" class="bg-[#6EC5CE]"
    ></canvas>
    <button id="restart-game">Restart</button>
    <script>
      import { initializeGame } from './game';

      initializeGame();
    </script>
  </body>
</html>
