---
import { t, changeLanguage } from 'i18next';
import CanvasGame from '@/components/astro/CanvasGame/CanvasGame.astro';

changeLanguage('en');

const title = 'Flappy Bird Game';
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={t('content')} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="profileOfMauricio" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="bg-[#282B31] w-full flex justify-center items-center">
      <CanvasGame />
    </div>
  </body>
</html>
