---
import i18next, { t } from 'i18next';
// @ts-ignore
import { localizePath } from 'astro-i18next';
import { navigation } from './constants';
import { padStart } from '../../utils/number';
import SelectorLanguage from '../selectorLanguage/selectorLanguage';
import Button from '../common/Button/Button.astro';
---

<nav class="fixed flex justify-between w-full px-24 py-6 bg-neutro">
  <SelectorLanguage value={i18next.language} client:visible />

  <div class="flex items-center">
    {
      navigation.map(({ name, href }, index) => (
        <a href={localizePath(href)}>
          <div class="flex text-xs text-neon-green tracking-widest px-4 py-2">
            {padStart(index + 1)}.
            <p class="text-xs text-white hover:text-neon-green pl-1">
              {t(name)}
            </p>
          </div>
        </a>
      ))
    }
    <Button className="ml-5 px-4 py-3" title={t('resume')} />
  </div>
</nav>

<div class="fixed flex items-end bottom-0 left-[95px]">
  <div class="w-[1px] h-[250px] bg-neon-green opacity-30"></div>
</div>

<div class="fixed flex items-end pb-10 bottom-0 right-0 w-28">
  <p
    class="text-sm text-white [writing-mode:vertical-lr] [letter-spacing:0.2rem]"
  >
    {t('email')}
  </p>
</div>

<div class="min-h-screen flex">
  <div class="w-full mx-[150px]">
    <slot />
  </div>
</div>
