---
interface Props {
  title: string;
}

import i18next, { t } from 'i18next';
import NavBar from '../components/NavBar/NavBar.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={t('content')} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="profileOfMauricio" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="bg-neutro h-screen px-8 py-10">
      <NavBar>
        <slot />
      </NavBar>
    </main>
  </body>
</html>
